---
layout: 
title: About
---
{% include page_header.html %}
<article>
	<div class="postcontent text">
		<p><img src='/images/headshot.jpg'/></p>
		<p>Hi, I'm Kurt Schrader. I'm the VP of Engineering at <a href="http://www.intentmedia.com">Intent Media</a>.</p>
		<p>I'm probably off building things somewhere.</p>
		<p>			
			<ul>
				<li><a href="http://twitter.com/kurt">Twitter</a></li>
				<li><a href="http://github.com/kschrader">Github</a></li>
				<li><a href="http://linkedin.com/kschrader">LinkedIn</a></li>
			</ul>
		<p>
	</div>
<br/>
</article>
{% include page_footer.html %}
