---
layout: main
title: Code
---

{% for post in site.categories.code limit:10 %}
	<article>
		{% case post.type %} 
			{% when 'text' %}
				{% include text.html %}
			{% when 'photo' %}
				{% include photo.html %}
			{% when 'quote' %}
				{% include quote.html %}
			{% when 'link' %}
				{% include link.html %}
			{% when 'chat' %}
				{% include chat.html %}
			{% when 'audio' %}
				{% include audio.html %}
			{% when 'video' %}
				{% include video-github-liquid-version-fix.html %}
		{% endcase %}
	</article>	
{% endfor %}

<p>These are the ten most recent posts, for older posts see the <a href="/archive.html">Archive</a>.</p>


