<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Kurt Schrader's Blog - {{ page.title }}</title>
		<link rel="shortcut icon" href="/images/favicon.png" />
		<link rel="alternate" type="application/atom+xml" href="/atom.xml" />
		<link href="/styles/schrade.css" media="screen" rel="Stylesheet" title="schrade" type="text/css" />
	</head>
	<body>
		<header>
			<hgroup>
				<h1 id="avatar"></h1>
				<h2><a href="/" id="header_title">Kurt Schrader's Blog</a></h2>
				<h3>CTO @ <a href="http://www.intentmedia.com">Intent Media</a></h3>
			</hgroup>
			<nav id="links">
				<ul>
					<li><a href="/archive.html">Archive</a></li>
					<li><a href="/about.html">About Me</a></li>
					<li><a href="/atom.xml">RSS</a></li>
				</ul>
				<p><a href="https://twitter.com/kurt" class="twitter-follow-button" data-show-count="true" data-align="right" data-lang="en">Follow @kurt</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</p>
			</nav>	
		</header>
		<section>		
