<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Schrade.Blog - {{ page.title }}</title>
		<link rel="shortcut icon" href="/images/favicon.png" />
		<link rel="alternate" type="application/atom+xml" href="/atom.xml" />
		<link href="/styles/schrade.css" media="screen" rel="Stylesheet" title="schrade" type="text/css" />
	</head>
	<body>
		<header>
			<hgroup>
				<h1 id="avatar"><a href="/">SB</a></h1>
				<h2>Kurt Schrader's Blog</h2>
			</hgroup>
			<nav id="links">
				<ul>
					<li><a href="/archive.html">Archive</a></li>
					<li><a href="/elsewhere.html">Elsewhere</a></li>
				</ul>
			</nav>	
		</header>
		<section>		
