<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Kurt Schrader</title>
		<link rel="shortcut icon" href="/images/favicon.png" />
		<link href="/styles/schrade.css" media="screen" rel="Stylesheet" title="schrade" type="text/css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<section>
